.background-image {
    background-image: url('https://images8.alphacoders.com/505/505616.png');
    background-size: auto;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}
  